* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%; /* 10px */
  font-family: "Open Sans", sans-serif;
  background-color: #f8f9fa;
}

.container {
  width: 70%;
  background-color: #ced4da;
  border-radius: 5px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  padding: 2rem 0;
  text-align: center;
  font-size: 5rem;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.message {
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 0;
  background-color: #2a9d8f;
  width: 60%;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.error-message {
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 0;
  background-color: #e71d36;
  width: 60%;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.book-form {
  width: 70%;
}

.form-control label {
  font-size: 1.75rem;
}

.form-control input {
  width: 100%;
  padding: 0.75rem 0;
  margin: 0.5rem 0;
  border-radius: 5px;
  outline: none;
  font-size: 1.5rem;
}

.submit-btn {
  width: 100%;
  margin: 2rem 0;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
}

.book-table-container {
  width: 70%;
  background-color: #ced4da;
  border-radius: 5px;
  margin: 50px auto;
}

#book-table {
  width: 100%;
  border-collapse: collapse;
}

thead tr th {
  font-size: 1.5rem;
  font-weight: 200;
  padding: 1rem 0;
  border-bottom: 1px solid #495057;
}

.column {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.first-column {
  width: 30%;
}

.second-column {
  width: 40%;
  overflow: hidden;
}

.third-column {
  width: 20%;
  text-align: center;
}

.fourth-column {
  width: 10%;
  text-align: center;
}

.fa-trash-alt {
  color: #d62828;
  cursor: pointer;
}
